.header {
    margin-bottom: 35px;
}

.box {
    border: 2px solid #F4F6F9;
    border-radius: 8px;
    padding: 40px 40px 10px 40px;
    margin: 30px 0;
}

.box h3 {
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #5C5C5C;
}

.box-add-button {
    height: 40px;
    width: 160px;
    float: right;
    border-radius: 4px;
    border: 2px solid #F4F6F9;
    background: linear-gradient(#6EA5F1 60%, #548FE0);
    color: white;
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin: -20px;
}

.box-remove-button {
    height: 25px;
    width: 25px;
    border-radius: 3px;
    background: #F4F6F9;
    border: 1px solid #F4F6F9;
}

.box table {
    width: 100%;
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #5C5C5C;
    border-collapse: collapse;
}

.box table th {
    font-weight: normal;
}

.box table tr {
    text-align: center;
    border-bottom: 1px solid #F4F6F9;
}

.box table td {
    padding-top: 15px;
}

.box table tr.last {
    border: none;
}

.box tr, .box th, .box td {
    padding-bottom: 15px;
    border-collapse: collapse;
}