header {
    margin-bottom: 65px;
}

h1 {
    text-transform: uppercase;
    color: #5C5C5C;
    display: inline-flex;
    width: 90%;
    font-size: 24px;
    line-height: 1.3;
}

@media (max-width: 800px) {
    header {
        margin-bottom: 40px;
    }
    
    h1 {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        margin-bottom: 30px;
    }
    
    h1 {
        font-size: 18px;
    }
}
