#container {
    width: 60%;
    background: linear-gradient(#fff 44%, #f7f7f7);;
    margin: 0 auto;
    min-height: 100vh;
    padding: 45px 80px;
    box-sizing: border-box;
}

@media (max-width: 1400px) {
    #container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    #container {
        width: 95%;
    }
}