#navbar {
    font-family: 'Avenir', sans-serif;
    color: #5C5C5C;
    border-top: 1px solid #F4F6F9;
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

#navbar .creator {
    font-size: 14px;
}

#navbar .creator a {
    text-decoration: none;
    color: #5C5C5C;
    cursor: pointer;
}

#navbar .print-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#navbar .print-container .print-quantity {
    white-space: nowrap;
}

#navbar .print-container .print-button {
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    #navbar {
        height: auto;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }

    #navbar .creator {
        position: static;
        padding: 0;
    }

    #navbar .print-container {
        position: static;
        margin: 0;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    #navbar .print-container .print-button {
        margin-left: 10px;
    }
}
