#navbar {
    font-family: 'Avenir', sans-serif;
    color: #5C5C5C;
    border-top: 1px solid #F4F6F9;
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#navbar .creator {
    font-size: 14px;
    position: absolute;
    padding-top: 20px;
    padding-left: 30px;
}

#navbar .creator a {
    text-decoration: none;
    color: #5C5C5C;
    cursor: pointer;
}

#navbar .print-container {
    position: absolute;
    right: -1px;
    margin-left: 35px;
    margin-right: 15px;
    margin-top: 15px;
}

#navbar .print-container .print-button {
    margin-left: 35px;
}
