.box {
    border: 2px solid #F4F6F9;
    border-radius: 8px;
    padding: 40px 40px 10px 40px;
    margin: 30px 0;
}

.box .box-header {
    margin-bottom: 35px;
}

.box .box-header h3 {
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #5C5C5C;
}

.box .box-right {
    margin: -20px;
    float: right;
}