@font-face {
  font-family: 'Axis';
  src:  url('../public/assets/fonts/axis.otf') format('otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #6EA5F1;
}

h1, h2, h3 {
  margin: 0;
  display: inline;
}

h1 {
  font-family: 'Axis', sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

p {
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  color: #5C5C5C;
}