.input-sign {
    display: inline;
    background: #F4F6F9;
    border: 1px solid #6EA5F1;
    padding: 5px 12px;
    border-radius: 3px;
    color: #6EA5F1;
    font-size: 14px;
}

.input {
    height: 27px;
    border: 1px solid #6EA5F1;
    margin-left: -2px;
    border-radius: 2px;
    padding-left: 10px;
}